<!DOCTYPE html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
 
<div class="container">
<h1>Displayed Cards Categories</h1>
<div class="row">
  <div class="card" style="width:300px">
    <div class="card-body">
      <h4 class="card-title"><%= @categories[0].card_value %></h4> 
      <a href="/cards_categories/<%= @categories[0].id %>" class="btn btn-primary">Show</a>
      <a href="/buy_card?val=<%= @categories[0].card_value%>" style="float: right;" class="btn btn-primary">Buy Card</a>
    </div>
    <% if @categories[0].card_value == 200 %>
    <img class="card-img-bottom" src="200.png" alt="Card image" style="width:100%">
    <% elsif @categories[0].card_value == 300 %>
    <img class="card-img-bottom" src="300.png" alt="Card image" style="width:100%">
    <% end %>
  </div>
  
  <div class="card" style="width:300px">
    <div class="card-body">
      <h4 class="card-title"><%= @categories[1].card_value %></h4>
      <a href="/cards_categories/<%= @categories[1].id %>" class="btn btn-primary">Show</a>
      <a href="/buy_card?val=<%= @categories[1].card_value%>" style="float: right;" class="btn btn-primary">Buy Card</a>
    </div>
    <% if @categories[1].card_value == 200 %>
    <img class="card-img-bottom" src="200.png" alt="Card image" style="width:100%">
    <% elsif @categories[1].card_value == 100 %>
    <img class="card-img-bottom" src="100.png" alt="Card image" style="width:100%">
    <% end %>
  </div>
</div>
</div>
<br>

<%= link_to 'New Cards Category', new_cards_category_path %><br>
<%= link_to 'Cards Category', cards_categories_path %>

</body>