<h1>User Wallets Transfer</h1>

<%= form_tag  url_for(:controller => 'user_wallets', :action => 'transfer_balancepost'), :method => 'post' do %>

    <h4><%= t('User From') %></h4>
    <%= number_field_tag :userfrom %>

    <h4><%= t('User To') %></h4>
    <%= number_field_tag :userto %>

    <h4><%= t('Amount') %></h4>
    <%= number_field_tag :transferamount %>


    <div style="margin-top:20px;">
        <button type="submit" ><%= t('Transfer Balance') %> </button>
    </div>

  <% end %>