
<section >
<%= form_tag  url_for(:controller => 'cards', :action => 'search'), :method => 'get' do %>

  <div>
      <div>
           <div>
               <div >
                 <div style="width:40%; height:180px; background:#f6f2f1; box-shadow: 0 0 8px #ccc; margin-bottom:20px;">
                   <div>
                     <div>
                     <input type="text" name="search"  placeholder="Search about something" >
                     <br><br><%= t('user ID') %> <input type="text" name="search_user"  placeholder="Search for a spacific user" >
                     <div  style="margin-top:20px;">
                         <%= t('card status') %>
                        <%= select_tag :status,options_for_select([['Active',1],['Charged',2],['pending',3],['disabled',4]]), {:include_blank => 'select status'} %>
                      
                        <br><h4><%= t('Expiration Date') %>:</h4>
                        <%= t('From') %> <%= date_field_tag :searchdatefrom %>
                        <%= t('To') %> <%= date_field_tag :searchdateto %>
                       </div>
                      <div style="margin-top:20px;">
                          <button type="submit" ><%= t('search') %> </button>
                      </div>
                     </div>
                   </div>
                 </div>
               </div>
           </div>
      </div>
  </div>
<% end %>
<br><br>

 <table>
  <thead>
    <tr>

       <th style="color:#363669 !important;">Number</th>
       <th style="color:#363669 !important;">Value</th>
       <th style="color:#363669 !important;">Status</th>
       <th style="color:#363669 !important;">User</th>
       <th style="color:#363669 !important;">Expired at</th>
       <th style="color:#363669 !important;"><%= t('created at') %></th>
       <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>

    <% @Cards.each do |card| %>
   
      <tr>
        <td><%= card.number %></td>
        <td><%= card.value %></td>
        <% if card.status == 1 %>
        <td><%= "Active" %></td>
        <% elsif card.status == 2 %>
        <td><%= "Charged" %></td>
        <% elsif card.status == 3 %>
            <td><%= "pending" %></td>
        <% elsif card.status == 4 %>
            <td><%= "disabled" %></td>
        <% end %>
        <td><%= card.user_id %></td>
        <td><%= card.expired_at %></td>
        <td><%= card.created_at %></td>
        <td><%= link_to 'Show', card %></td>
      </tr>
      <% end %>
  </tbody>
</table>
<br>
</section>